version: "3"

services:
  db:
    image: postgres:17
    container_name: osiruko_db
    ports:
      - 5432:5432
    volumes:
      - db-store:/var/lib/postgresql/data
      - ./script:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    env_file:
      - .env
  adminer:
    image: adminer
    container_name: osiruko_adminer
    ports:
      - 8081:8080
    depends_on:
      - db
volumes:
  db-store:
